/**
 * OpenLyrics XML+XSLT+CSS stylesheet
 * OpenLyrics 0.9
 */

.song[data-ol-version="0.9"] span.beat-sign {
  display: inline-block;
  padding: 0 .15rem;
}

/* debug
.song[data-ol-version="0.9"] .segment {
  border: .063rem solid silver;
} /* /debug */
