/**
 * OpenLyrics XML+CSS stylesheet
 * OpenLyrics XML+XSLT+CSS stylesheet
 * Fonts
 *
 * Libertinus support musical repeat signs: U+1D106, U+1D107;
 * https://github.com/alerque/libertinus/issues/339
 * https://github.com/alerque/libertinus/pull/356
 */

:root {
  font-family: "Libertinus Serif";
  /*font-feature-settings: "ss01" on;
  font-variant: prince-opentype(ss01(1));*/
}
song[version] chord[name]::before,
song[version] chord[root]::before,
.song[data-ol-version] .chord,
.song[data-ol-version] footer #root-properties {
  font-family: "DejaVu Sans";
}
.song[data-ol-version] .chord-structure {
  font-family: "DejaVu Sans Condensed";
  font-weight: bold;
}
.song[data-ol-version] .chord-bass {
  font-family: "DejaVu Sans Condensed";
  font-weight: normal !important;
}

@media print {
  @page {
    @top-left {
      font-family: "Libertinus Sans";
    }
    @bottom-left {
      font-family: "Libertinus Sans";
    }
    @bottom-right {
      font-family: "Libertinus Serif";
    }
  }
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: local("FontAwesome"),
       url(fonts/FontAwesome.otf) format('opentype');
}
@font-face {
  font-family: "Libertinus Serif";
  font-style: normal;
  font-weight: normal;
  src: local("Libertinus Serif"),
       url(fonts/LibertinusSerif-Regular.otf) format('opentype');
}
@font-face {
  font-family: "Libertinus Serif";
  font-style: normal;
  font-weight: bold;
  src: local("Libertinus Serif"),
       url(fonts/LibertinusSerif-Bold.otf) format('opentype');
}
@font-face {
  font-family: "Libertinus Serif";
  font-style: italic;
  font-weight: normal;
  src: local("Libertinus Serif"),
       url(fonts/LibertinusSerif-Italic.otf) format('opentype');
}
@font-face {
  font-family: "Libertinus Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Libertinus Sans"),
       url(fonts/LibertinusSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: "Libertinus Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Libertinus Sans"),
       url(fonts/LibertinusSans-Bold.otf) format('opentype');
}
@font-face {
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: bold;
  src: local("DejaVu Sans Bold"),
       url(fonts/DejaVuSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: "DejaVu Sans Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("DejaVu Sans Semi-Condensed"),
       url(fonts/DejaVuSansCondensed.ttf) format('truetype');
}
@font-face {
  font-family: "DejaVu Sans Condensed";
  font-style: normal;
  font-weight: bold;
  src: local("DejaVu Sans Bold Semi-Condensed"),
       url(fonts/DejaVuSansCondensed-Bold.ttf) format('truetype');
}


/* Setting up a character range match and fallback
 * for some musical symbols
 */
@font-face {
  font-family: "Linux Libertine";
  src: local("FreeSerif"); /* FreeSerif isn't included */
  unicode-range: U+1D12A;
}
