/**
 * OpenLyrics XML+CSS stylesheet
 * OpenLyrics 0.9 chords
 *
 * For browsers only: https://caniuse.com/#feat=css-variables
 * Prince supports CSS variables from Prince 13
 */

:root {
--chord-root: "";
--chord-structure: "";
--chord-bass: "";
}
chord[root]      { --chord-root: attr(root) }
chord[structure] { --chord-structure: attr(structure) }
chord[bass]      { --chord-bass: attr(bass) }

/*
 * Root and bass:
 ***************/

/* English notation */
chord[root="C"]  { --chord-root: "C"   }
chord[root="C#"] { --chord-root: "C♯"  }
chord[root="Db"] { --chord-root: "D♭"  }
chord[root="D"]  { --chord-root: "D"   }
chord[root="D#"] { --chord-root: "D♯"  }
chord[root="Eb"] { --chord-root: "E♭"  }
chord[root="E"]  { --chord-root: "E"   }
chord[root="F"]  { --chord-root: "F"   }
chord[root="F#"] { --chord-root: "F♯"  }
chord[root="Gb"] { --chord-root: "G♭"  }
chord[root="G"]  { --chord-root: "G"   }
chord[root="G#"] { --chord-root: "G♯"  }
chord[root="Ab"] { --chord-root: "A♭"  }
chord[root="A"]  { --chord-root: "A"   }
chord[root="A#"] { --chord-root: "A♯"  }
chord[root="Bb"] { --chord-root: "B♭"  }
chord[root="B"]  { --chord-root: "B"   }
chord[bass="C"]  { --chord-bass: "/C"  }
chord[bass="C#"] { --chord-bass: "/C♯" }
chord[bass="Db"] { --chord-bass: "/D♭" }
chord[bass="D"]  { --chord-bass: "/D"  }
chord[bass="D#"] { --chord-bass: "/D♯" }
chord[bass="Eb"] { --chord-bass: "/E♭" }
chord[bass="E"]  { --chord-bass: "/E"  }
chord[bass="F"]  { --chord-bass: "/F"  }
chord[bass="F#"] { --chord-bass: "/F♯" }
chord[bass="Gb"] { --chord-bass: "/G♭" }
chord[bass="G"]  { --chord-bass: "/G"  }
chord[bass="G#"] { --chord-bass: "/G♯" }
chord[bass="Ab"] { --chord-bass: "/A♭" }
chord[bass="A"]  { --chord-bass: "/A"  }
chord[bass="A#"] { --chord-bass: "/A♯" }
chord[bass="Bb"] { --chord-bass: "/B♭" }
chord[bass="B"]  { --chord-bass: "/B"  }

:root[chordNotation=german] chord[root="C"]  { --chord-root: "C"    }
:root[chordNotation=german] chord[root="C#"] { --chord-root: "Cis"  }
:root[chordNotation=german] chord[root="Db"] { --chord-root: "Des"  }
:root[chordNotation=german] chord[root="D"]  { --chord-root: "D"    }
:root[chordNotation=german] chord[root="D#"] { --chord-root: "Dis"  }
:root[chordNotation=german] chord[root="Eb"] { --chord-root: "Es"   }
:root[chordNotation=german] chord[root="E"]  { --chord-root: "E"    }
:root[chordNotation=german] chord[root="F"]  { --chord-root: "F"    }
:root[chordNotation=german] chord[root="F#"] { --chord-root: "Fis"  }
:root[chordNotation=german] chord[root="Gb"] { --chord-root: "Ges"  }
:root[chordNotation=german] chord[root="G"]  { --chord-root: "G"    }
:root[chordNotation=german] chord[root="G#"] { --chord-root: "Gis"  }
:root[chordNotation=german] chord[root="Ab"] { --chord-root: "As"   }
:root[chordNotation=german] chord[root="A"]  { --chord-root: "A"    }
:root[chordNotation=german] chord[root="A#"] { --chord-root: "Ais"  }
:root[chordNotation=german] chord[root="Bb"] { --chord-root: "B"    }
:root[chordNotation=german] chord[root="B"]  { --chord-root: "H"    }
:root[chordNotation=german] chord[bass="C"]  { --chord-bass: "/C"   }
:root[chordNotation=german] chord[bass="C#"] { --chord-bass: "/Cis" }
:root[chordNotation=german] chord[bass="Db"] { --chord-bass: "/Des" }
:root[chordNotation=german] chord[bass="D"]  { --chord-bass: "/D"   }
:root[chordNotation=german] chord[bass="D#"] { --chord-bass: "/Dis" }
:root[chordNotation=german] chord[bass="Eb"] { --chord-bass: "/Es"  }
:root[chordNotation=german] chord[bass="E"]  { --chord-bass: "/E"   }
:root[chordNotation=german] chord[bass="F"]  { --chord-bass: "/F"   }
:root[chordNotation=german] chord[bass="F#"] { --chord-bass: "/Fis" }
:root[chordNotation=german] chord[bass="Gb"] { --chord-bass: "/Ges" }
:root[chordNotation=german] chord[bass="G"]  { --chord-bass: "/G"   }
:root[chordNotation=german] chord[bass="G#"] { --chord-bass: "/Gis" }
:root[chordNotation=german] chord[bass="Ab"] { --chord-bass: "/As"  }
:root[chordNotation=german] chord[bass="A"]  { --chord-bass: "/A"   }
:root[chordNotation=german] chord[bass="A#"] { --chord-bass: "/Ais" }
:root[chordNotation=german] chord[bass="Bb"] { --chord-bass: "/B"   }
:root[chordNotation=german] chord[bass="B"]  { --chord-bass: "/H"   }

:root[chordNotation=dutch] chord[root="C"]  { --chord-root: "C"    }
:root[chordNotation=dutch] chord[root="C#"] { --chord-root: "Cis"  }
:root[chordNotation=dutch] chord[root="Db"] { --chord-root: "Des"  }
:root[chordNotation=dutch] chord[root="D"]  { --chord-root: "D"    }
:root[chordNotation=dutch] chord[root="D#"] { --chord-root: "Dis"  }
:root[chordNotation=dutch] chord[root="Eb"] { --chord-root: "Es"   }
:root[chordNotation=dutch] chord[root="E"]  { --chord-root: "E"    }
:root[chordNotation=dutch] chord[root="F"]  { --chord-root: "F"    }
:root[chordNotation=dutch] chord[root="F#"] { --chord-root: "Fis"  }
:root[chordNotation=dutch] chord[root="Gb"] { --chord-root: "Ges"  }
:root[chordNotation=dutch] chord[root="G"]  { --chord-root: "G"    }
:root[chordNotation=dutch] chord[root="G#"] { --chord-root: "Gis"  }
:root[chordNotation=dutch] chord[root="Ab"] { --chord-root: "As"   }
:root[chordNotation=dutch] chord[root="A"]  { --chord-root: "A"    }
:root[chordNotation=dutch] chord[root="A#"] { --chord-root: "Ais"  }
:root[chordNotation=dutch] chord[root="Bb"] { --chord-root: "Bes"  }
:root[chordNotation=dutch] chord[root="B"]  { --chord-root: "B"    }
:root[chordNotation=dutch] chord[bass="C"]  { --chord-bass: "/C"   }
:root[chordNotation=dutch] chord[bass="C#"] { --chord-bass: "/Cis" }
:root[chordNotation=dutch] chord[bass="Db"] { --chord-bass: "/Des" }
:root[chordNotation=dutch] chord[bass="D"]  { --chord-bass: "/D"   }
:root[chordNotation=dutch] chord[bass="D#"] { --chord-bass: "/Dis" }
:root[chordNotation=dutch] chord[bass="Eb"] { --chord-bass: "/Es"  }
:root[chordNotation=dutch] chord[bass="E"]  { --chord-bass: "/E"   }
:root[chordNotation=dutch] chord[bass="F"]  { --chord-bass: "/F"   }
:root[chordNotation=dutch] chord[bass="F#"] { --chord-bass: "/Fis" }
:root[chordNotation=dutch] chord[bass="Gb"] { --chord-bass: "/Ges" }
:root[chordNotation=dutch] chord[bass="G"]  { --chord-bass: "/G"   }
:root[chordNotation=dutch] chord[bass="G#"] { --chord-bass: "/Gis" }
:root[chordNotation=dutch] chord[bass="Ab"] { --chord-bass: "/As"  }
:root[chordNotation=dutch] chord[bass="A"]  { --chord-bass: "/A"   }
:root[chordNotation=dutch] chord[bass="A#"] { --chord-bass: "/Ais" }
:root[chordNotation=dutch] chord[bass="Bb"] { --chord-bass: "/Bes" }
:root[chordNotation=dutch] chord[bass="B"]  { --chord-bass: "/B"   }

:root[chordNotation=hungarian] chord[root="C"]  { --chord-root: "C"      }
:root[chordNotation=hungarian] chord[root="C#"] { --chord-root: "Cisz"   }
:root[chordNotation=hungarian] chord[root="Db"] { --chord-root: "Desz"   }
:root[chordNotation=hungarian] chord[root="D"]  { --chord-root: "D"      }
:root[chordNotation=hungarian] chord[root="D#"] { --chord-root: "Disz"   }
:root[chordNotation=hungarian] chord[root="Eb"] { --chord-root: "Esz"    }
:root[chordNotation=hungarian] chord[root="E"]  { --chord-root: "E"      }
:root[chordNotation=hungarian] chord[root="F"]  { --chord-root: "F"      }
:root[chordNotation=hungarian] chord[root="F#"] { --chord-root: "Fisz"   }
:root[chordNotation=hungarian] chord[root="Gb"] { --chord-root: "Gesz"   }
:root[chordNotation=hungarian] chord[root="G"]  { --chord-root: "G"      }
:root[chordNotation=hungarian] chord[root="G#"] { --chord-root: "Gisz"   }
:root[chordNotation=hungarian] chord[root="Ab"] { --chord-root: "Asz"    }
:root[chordNotation=hungarian] chord[root="A"]  { --chord-root: "A"      }
:root[chordNotation=hungarian] chord[root="A#"] { --chord-root: "Aisz"   }
:root[chordNotation=hungarian] chord[root="Bb"] { --chord-root: "B"      }
:root[chordNotation=hungarian] chord[root="B"]  { --chord-root: "H"      }
:root[chordNotation=hungarian] chord[bass="C"]  { --chord-bass: "/C"     }
:root[chordNotation=hungarian] chord[bass="C#"] { --chord-bass: "/Cisz"  }
:root[chordNotation=hungarian] chord[bass="Db"] { --chord-bass: "/Desz"  }
:root[chordNotation=hungarian] chord[bass="D"]  { --chord-bass: "/D"     }
:root[chordNotation=hungarian] chord[bass="D#"] { --chord-bass: "/Disz"  }
:root[chordNotation=hungarian] chord[bass="Eb"] { --chord-bass: "/Esz"   }
:root[chordNotation=hungarian] chord[bass="E"]  { --chord-bass: "/E"     }
:root[chordNotation=hungarian] chord[bass="F"]  { --chord-bass: "/F"     }
:root[chordNotation=hungarian] chord[bass="F#"] { --chord-bass: "/Fisz"  }
:root[chordNotation=hungarian] chord[bass="Gb"] { --chord-bass: "/Gesz"  }
:root[chordNotation=hungarian] chord[bass="G"]  { --chord-bass: "/G"     }
:root[chordNotation=hungarian] chord[bass="G#"] { --chord-bass: "/Gisz"  }
:root[chordNotation=hungarian] chord[bass="Ab"] { --chord-bass: "/Asz"   }
:root[chordNotation=hungarian] chord[bass="A"]  { --chord-bass: "/A"     }
:root[chordNotation=hungarian] chord[bass="A#"] { --chord-bass: "/Aisz"  }
:root[chordNotation=hungarian] chord[bass="Bb"] { --chord-bass: "/B"     }
:root[chordNotation=hungarian] chord[bass="B"]  { --chord-bass: "/H"     }

:root[chordNotation=neolatin] chord[root="C"]  { --chord-root: "Do"    }
:root[chordNotation=neolatin] chord[root="C#"] { --chord-root: "Do♯"   }
:root[chordNotation=neolatin] chord[root="Db"] { --chord-root: "Re♭"   }
:root[chordNotation=neolatin] chord[root="D"]  { --chord-root: "Re"    }
:root[chordNotation=neolatin] chord[root="D#"] { --chord-root: "Re♯"   }
:root[chordNotation=neolatin] chord[root="Eb"] { --chord-root: "Mi♭"   }
:root[chordNotation=neolatin] chord[root="E"]  { --chord-root: "Mi"    }
:root[chordNotation=neolatin] chord[root="F"]  { --chord-root: "Fa"    }
:root[chordNotation=neolatin] chord[root="F#"] { --chord-root: "Fa♯"   }
:root[chordNotation=neolatin] chord[root="Gb"] { --chord-root: "Sol♭"  }
:root[chordNotation=neolatin] chord[root="G"]  { --chord-root: "Sol"   }
:root[chordNotation=neolatin] chord[root="G#"] { --chord-root: "Sol♯"   }
:root[chordNotation=neolatin] chord[root="Ab"] { --chord-root: "La♭"   }
:root[chordNotation=neolatin] chord[root="A"]  { --chord-root: "La"    }
:root[chordNotation=neolatin] chord[root="A#"] { --chord-root: "La♯"   }
:root[chordNotation=neolatin] chord[root="Bb"] { --chord-root: "Si♭"   }
:root[chordNotation=neolatin] chord[root="B"]  { --chord-root: "Si"    }
:root[chordNotation=neolatin] chord[bass="C"]  { --chord-bass: "/Do"   }
:root[chordNotation=neolatin] chord[bass="C#"] { --chord-bass: "/Do♯"  }
:root[chordNotation=neolatin] chord[bass="Db"] { --chord-bass: "/Re♭"  }
:root[chordNotation=neolatin] chord[bass="D"]  { --chord-bass: "/Re"   }
:root[chordNotation=neolatin] chord[bass="D#"] { --chord-bass: "/Re♯"  }
:root[chordNotation=neolatin] chord[bass="Eb"] { --chord-bass: "/Mi♭"  }
:root[chordNotation=neolatin] chord[bass="E"]  { --chord-bass: "/Mi"   }
:root[chordNotation=neolatin] chord[bass="F"]  { --chord-bass: "/Fa"   }
:root[chordNotation=neolatin] chord[bass="F#"] { --chord-bass: "/Fa♯"  }
:root[chordNotation=neolatin] chord[bass="Gb"] { --chord-bass: "/Sol♭" }
:root[chordNotation=neolatin] chord[bass="G"]  { --chord-bass: "/Sol"  }
:root[chordNotation=neolatin] chord[bass="G#"] { --chord-bass: "/Sol♯"  }
:root[chordNotation=neolatin] chord[bass="Ab"] { --chord-bass: "/La♭"  }
:root[chordNotation=neolatin] chord[bass="A"]  { --chord-bass: "/La"   }
:root[chordNotation=neolatin] chord[bass="A#"] { --chord-bass: "/La♯"  }
:root[chordNotation=neolatin] chord[bass="Bb"] { --chord-bass: "/Si♭"  }
:root[chordNotation=neolatin] chord[bass="B"]  { --chord-bass: "/Si"   }


/*
 * Strucure
 **********/
/* 2 note chords */
chord[structure="5"],          chord[structure="power"]    { --chord-structure: "5" /*omit3*/ }
/* 3 note chords */
chord[structure="3-5"],        chord:not([structure])      { --chord-structure: "" }
chord[structure="m3-5"],       chord[structure="min"]      { --chord-structure: "m" /*-*/ /*min*/ }
chord[structure="3-a5"],       chord[structure="aug"]      { --chord-structure: "+" /*5♯*/ /*(♯5)*/ }
chord[structure="m3-d5"],      chord[structure="dim"]      { --chord-structure: "m,5♭" /*m(♭5)*/ }
/* 4 note chords */
chord[structure="3-5-m7"],     chord[structure="dom7"]     { --chord-structure: "7" }
chord[structure="3-5-7"],      chord[structure="maj7"]     { --chord-structure: "Δ" /*Maj7*/ /*M7*/ /*Δ7*/ }
chord[structure="m3-5-m7"],    chord[structure="min7"]     { --chord-structure: "m7" /*-7*/ /*min7*/ }
chord[structure="m3-d5-d7"],   chord[structure="dim7"]     { --chord-structure: "○" /*dim7*/ /*○7*/ }
chord[structure="m3-d5-m7"],   chord[structure="halfdim7"] { --chord-structure: "ø" /*m7,5♭*/ /*m7(♭5)*/ /*-7(♭5)*/ /*ø7*/ /*halfdim*/ }
chord[structure="m3-5-7"],     chord[structure="minmaj7"]  { --chord-structure: "mΔ" /*mMaj7*/ /*mM7*/ /*-M7*/ /*-Δ*/ /*-Δ7*/ }
chord[structure="3-a5-7"],     chord[structure="augmaj7"]  { --chord-structure: "+Δ" /*Maj7(♯5)*/ /*+Maj7*/ /*+M7*/ /*+Δ7*/ }
chord[structure="3-d5-m7"]                                 { --chord-structure: "7,5♭" /*7(♭5)*/ }
chord[structure="3-a5-m7"],    chord[structure="aug7"]     { --chord-structure: "+7" /*7,5♯*/ /*7(♯5)*/ }
chord[structure="m3-d5-7"]                                 { --chord-structure: "mΔ,5♭" /*mΔ(5♭)*/ /*mMaj7(♭5)*/ /*mM7(♭5)*/ /*-Δ7(♭5)*/ }
chord[structure="3-d5-7"]                                  { --chord-structure: "Δ,5♭" /*Δ7(♭5)*/ /*Maj7(♭5)*/ /*M7(♭5)*/ }
chord[structure="3-5-6"],      chord[structure="maj6"]     { --chord-structure: "6" /*M6*/ /*add6*/ }
chord[structure="3-5-m6"],     chord[structure="maj6b"]    { --chord-structure: "6♭" /*(♭6)*/ }
chord[structure="m3-5-6"],     chord[structure="min6"]     { --chord-structure: "m6" /*m,add6*/ }
chord[structure="m3-5-m6"],    chord[structure="min6b"]    { --chord-structure: "m6♭" /*m(♭6)*/ }
/* 5 note chords */
chord[structure="3-5-m7-9"],   chord[structure="dom9"]     { --chord-structure: "9" /*7,9*/ }
chord[structure="3-5-m7-m9"],  chord[structure="dom9b"]    { --chord-structure: "7,9♭" /*7(♭9)*/ }
chord[structure="3-5-7-9"],    chord[structure="maj9"]     { --chord-structure: "Δ9" /*Maj9*/ /*M9*/ }
chord[structure="m3-5-m7-9"],  chord[structure="min9"]     { --chord-structure: "m9" /*m7,9*/ /*-9*/ /*min9*/ }
chord[structure="m3-5-7-9"],   chord[structure="minmaj9"]  { --chord-structure: "mΔ9" /*mMaj9*/ /*mM9*/ /*-M9*/ /*-Δ9*/ }
chord[structure="3-a5-7-9"]                                { --chord-structure: "+Δ9" /*Maj9(♯5)*/ /*+Maj9*/ /*+M9*/ }
chord[structure="3-a5-m7-9"],  chord[structure="aug9"]     { --chord-structure: "+9" /*+7,9*/ /*9,5♯*/ /*9(♯5)*/ }
chord[structure="m3-d5-m7-9"], chord[structure="halfdim9"] { --chord-structure: "ø9" /*m9,5♭*/ /*m9(♭5)*/ /*-9(♭5)*/ /*halfdim9*/ }
chord[structure="m3-d5-m7-m9"]                             { --chord-structure: "ø9♭" /*ø(♭9)*/ /*m7,9♭,5♭*/ /*m7(♭9,♭5)*/ /*-7(♭9,♭5)*/ /*halfdim(♭9)*/ }
chord[structure="m3-d5-d7-9"]                              { --chord-structure: "°9" /*dim9*/ }
chord[structure="m3-d5-d7-m9"]                             { --chord-structure: "°9♭" /*°(♭9)*/ /*dim7,9♭*/ /*°7,9♭*/ }
chord[structure="3-5-m7-m10"]                              { --chord-structure: "7,10♭" /*7(♭10)*/ }
/* 6 note chords */
chord[structure="3-5-m7-9-11"]                             { --chord-structure: "11" }
chord[structure="3-5-7-9-11"]                              { --chord-structure: "Δ11" /*Maj11*/ /*M11*/ }
chord[structure="m3-5-m7-9-11"]                            { --chord-structure: "m11" /*-11*/ /*min11*/ }
chord[structure="m3-5-7-9-11"]                             { --chord-structure: "mΔ11" /*mMaj11*/ /*mM11*/ /*-M11*/ /*-Δ11*/ }
chord[structure="3-5-m7-9-a11"]                            { --chord-structure: "11♯" }
chord[structure="3-5-7-9-a11"]                             { --chord-structure: "Δ11♯" /*Δ(♯11)*/ /*Maj(♯11)*/ /*M(♯11)*/ }
chord[structure="m3-5-m7-9-a11"]                           { --chord-structure: "m11♯" /*m(♯11)*/ /*-(♯11)*/ /*min(♯11)*/ }
chord[structure="m3-5-7-9-a11"]                            { --chord-structure: "mΔ11♯" /*mΔ(♯11)*/ /*mMaj(♯11)*/ /*mM(♯11)*/ /*-M(♯11)*/ /*-Δ(♯11)*/ }
chord[structure="3-a5-7-9-11"]                             { --chord-structure: "+Δ11" /*Maj11(♯5)*/ /*+Maj11*/ /*+M11*/ }
chord[structure="3-a5-m7-9-11"]                            { --chord-structure: "+11" /*11,5♯*/ /*11(♯5)*/ }
chord[structure="m3-d5-m7-m9-11"]                          { --chord-structure: "ø11" /*m11,5♭*/ /*m11(♭5)*/ /*-11(♭5)*/ /*halfdim11*/ }
chord[structure="m3-d5-d7-m9-d11"]                         { --chord-structure: "°11" /*dim11*/ }
/* 7 note chords */
chord[structure="3-5-m7-9-11-13"]                          { --chord-structure: "13" }
chord[structure="3-5-7-9-11-13"]                           { --chord-structure: "Δ13" /*Maj13*/ /*M13*/ }
chord[structure="m3-5-m7-9-11-13"]                         { --chord-structure: "m13" /*-13*/ /*min13*/ }
chord[structure="m3-5-7-9-11-13"]                          { --chord-structure: "mΔ13" /*mMaj13*/ /*mM13*/ /*-M13*/ /*-Δ13*/ }
chord[structure="3-5-m7-9-a11-13"]                         { --chord-structure: "13(♯11)" }
chord[structure="3-5-7-9-a11-13"]                          { --chord-structure: "Δ13(♯11)" /*Maj13(♯11)*/ /*M13(♯11)*/ }
chord[structure="m3-5-m7-9-a11-13"]                        { --chord-structure: "m13(♯11)" /*-13(♯11)*/ /*min13(♯11)*/ }
chord[structure="m3-5-7-9-a11-13"]                         { --chord-structure: "mΔ13(♯11)" /*mMaj13(♯11)*/ /*mM13(♯11)*/ /*-M13(♯11)*/ /*-Δ13(♯11)*/ }
chord[structure="3-a5-7-9-11-13"]                          { --chord-structure: "+Δ13" /*Maj13(♯5)*/ /*+Maj13*/ /*+M13*/ }
chord[structure="3-a5-m7-9-11-13"]                         { --chord-structure: "+13" /*13,5♯*/ /*13(♯5)*/ }
chord[structure="m3-d5-m7-m9-11-13"]                       { --chord-structure: "ø13" /*m13,5♭*/ /*m13(♭5)*/ /*-13(♭5)*/ /*halfdim13*/ }
/* Figured 3 note chords */
chord[structure="4-5"],        chord[structure="sus4"]     { --chord-structure: "4" /*sus4*/ /*sus*/ }
chord[structure="2-5"],        chord[structure="sus2"]     { --chord-structure: "2" /*sus2*/ }
/* Figured 4 note chords */
chord[structure="3-5-m7-13"]                               { --chord-structure: "7,6" /*7(add13)*/ /*7(add6)*/ }
chord[structure="3-5-6-9"]                                 { --chord-structure: "6,9" /*6(add9)*/ }
chord[structure="3-5-9"],      chord[structure="add9"]     { --chord-structure: "add9" }
chord[structure="m3-5-9"]                                  { --chord-structure: "m(add9)" }
chord[structure="3-a5-9"]                                  { --chord-structure: "+add9" /*(♯5)add9*/ }
chord[structure="4-5-6"]                                   { --chord-structure: "6,4" /*6(sus4)*/ }
chord[structure="2-5-6"]                                   { --chord-structure: "6,2" /*6(sus2)*/ }
chord[structure="4-5-m6"]                                  { --chord-structure: "6♭,4" /*6♭(sus4)*/ /*(♭6)sus4*/ }
chord[structure="2-5-m6"]                                  { --chord-structure: "6♭,2" /*6♭(sus2)*/ /*(♭6)sus2*/ }
chord[structure="4-5-m7"]                                  { --chord-structure: "7,4" /*7sus4*/ }
chord[structure="2-5-m7"]                                  { --chord-structure: "7,2" /*7sus2*/ }
chord[structure="4-5-7"]                                   { --chord-structure: "Δ,4" /*Maj7,4*/ /*M7,4*/ /*Δ7,4*/ /*Δsus4*/ /*M7sus4*/ }
chord[structure="2-5-7"]                                   { --chord-structure: "Δ,2" /*Maj7,2*/ /*M7,2*/ /*Δ7,2*/ /*Δsus2*/ /*M7sus2*/ }
chord[structure="4-a5-7"]                                  { --chord-structure: "+Δ,4" /*Maj7(♯5)4*/ /*+Maj7,4*/ /*+M7,4*/ /*+Δ7,4*/ /*Maj7(♯5)4sus4*/ /*+Maj7,4sus4*/ /*+M7,4sus4*/ /*+Δ7,4sus4*/ }
chord[structure="2-a5-7"]                                  { --chord-structure: "+Δ,2" /*Maj7(♯5)2*/ /*+Maj7,2*/ /*+M7,2*/ /*+Δ7,2*/ /*Maj7(♯5)2sus2*/ /*+Maj7,2sus2*/ /*+M7,2sus2*/ /*+Δ7,2sus2*/ }
chord[structure="4-d5-m7"]                                 { --chord-structure: "ø,4" /*7,5♭,4*/ /*7(♭5)4*/ /*ø7,4*/ /*halfdim,4*/ /*7,5♭,4sus4*/ /*7(♭5)4sus4*/ /*ø7,4sus4*/ /*halfdim,4sus4*/ }
chord[structure="2-d5-m7"]                                 { --chord-structure: "ø,2" /*7,5♭,2*/ /*7(♭5)2*/ /*ø7,2*/ /*halfdim,2*/ /*7,5♭,2sus2*/ /*7(♭5)2sus2*/ /*ø7,2sus2*/ /*halfdim,2sus2*/ }
chord[structure="4-d5-d7"]                                 { --chord-structure: "○,4" /*dim7,4*/ /*○7,4*/ /*○(sus4)*/ /*dim7(sus4)*/ /*○7(sus4)*/ }
chord[structure="2-d5-d7"]                                 { --chord-structure: "○,2" /*dim7,2*/ /*○7,2*/ /*○(sus2)*/ /*dim7(sus2)*/ /*○7(sus2)*/ }
chord[structure="4-d5-7"]                                  { --chord-structure: "Δ,5♭,4" /*Δ7(♭5)4*/ /*Maj7(♭5)4*/ /*M7(♭5)4*/ /*Δ7(♭5)4sus4*/ /*Maj7(♭5)4sus4*/ /*M7(♭5)4sus4*/ }
chord[structure="2-d5-7"]                                  { --chord-structure: "Δ,5♭,2" /*Δ7(♭5)2*/ /*Maj7(♭5)2*/ /*M7(♭5)2*/ /*Δ7(♭5)2sus2*/ /*Maj7(♭5)2sus2*/ /*M7(♭5)2sus2*/ }
chord[structure="4-5-m7-13"]                               { --chord-structure: "7,6,4" /*7(add13)4*/ /*7(add6)4*/ /*7,6sus4*/ /*7(add13)sus4*/ /*7(add6)sus4*/ }
chord[structure="2-5-m7-13"]                               { --chord-structure: "7,6,2" /*7(add13)2*/ /*7(add6)2*/ /*7,6sus2*/ /*7(add13)sus2*/ /*7(add6)sus2*/ }
/* Figured 5 note chords */
chord[structure="4-5-m7-9"]                                { --chord-structure: "9,4" /*9sus4*/ }
chord[structure="4-5-m7-m9"]                               { --chord-structure: "7,9♭,4" /*7(♭9)4*/ /*7,9♭,sus4*/ /*7(♭9)sus4*/ }
chord[structure="4-5-7-9"]                                 { --chord-structure: "Δ9,4" /*Δ9sus4*/ /*Maj9,4*/ /*M9,4*/ /*Maj9sus4*/ /*M9sus4*/ }
chord[structure="4-a5-7-9"]                                { --chord-structure: "+Δ9,4" /*+Δ9sus4*/ /*Maj9(♯5)4*/ /*+M9,4*/ /*+M9sus4*/ /*+Maj9,4*/ }
chord[structure="4-a5-m7-9"]                               { --chord-structure: "+9,4" /*+9sus4*/ /*9(♯5)sus4*/ }


/*
 * Setup chords
 **************/
song[version="0.9"] chord[root]::before {
  content: var(--chord-root) var(--chord-structure) var(--chord-bass);
}
