/**
 * OpenLyrics XML+CSS stylesheet
 */

@import url("css/fonts.css");

@import url("css/xml/common.xml.css");
@import url("css/xml/openlyrics-0.8.xml.css");
@import url("css/xml/media-print.xml.css") print;
@import url("css/xml/media-screen.xml.css") screen;

@import url("css/xml/openlyrics-lang-en.xml.css");
@import url("css/xml/openlyrics-lang-hu.xml.css");
