/**
 * OpenLyrics XML+CSS stylesheet
 * Screen media
 */

:root {
  font-size: 16px; /* Root element size */
  width: 40rem;
  margin: 2rem auto 1rem auto;
  color: black;
}
:root::before { /* for version debug only on screen */
  display: block;
  border: .063rem solid red;
  padding: .063rem;
  color: red;
  position: absolute;
  top: .063rem;
  content: "OpenLyrics " attr(version) " • " attr(createdIn);
  text-align: center;
  font-size: .625rem;
}
title:first-child {
  color: black;
}
properties,
lines comment {
  border-bottom-color: darkgray;
  color: darkgray;
}
lyrics > verse::before, 
lyrics > verse[lang]::after,
lines[part]::before {
  color: blue;
}
chord::before {
  color: red;
}
beat::after {
  color: black;
}
