/**
 * OpenLyrics XML+CSS stylesheet
 * OpenLyrics 0.9
 */

song[version="0.9"] lines:after {
  content: "\A";
  white-space: pre-line;
}
song[version="0.9"] lines {
  line-height: 1em;
  padding: 0;
  margin: 0;
}
song[version="0.9"] lines[repeat]::before { /* repeat */
  content: '‖:';
}
song[version="0.9"] lines[repeat]::after {
  content: ':‖×' attr(repeat);
}
song[version="0.9"] beat {
  display: inline-block;
}
song[version="0.9"] beat::after {
  content: '|';
  padding: 0 .1em;
}
song[version="0.9"] beat:last-child::after {
  content: none;
}

/* debug
chord {
  border: .063rem solid silver;
} /* /debug */
