/****************
 * Original HTML4 template was: http://www.openwebdesign.org/design/5326/Free_Blog/
 * by Mr.Frenzi: http://www.openwebdesign.org/search.php?tab=designer&designer=Mr.Frenzi
 */

/* Variables, colors */
:root {
  --color-main: black;
  --color-canvas: rgba(222, 237, 247, 1); /* #deedf7 */
  --color-canvas-alternate: rgba(197, 227, 230, 1);
  --color-page: white;
  --color-bright: rgba(254, 254, 254, 1);
  --color-light:  rgba(246, 246, 246, 1);
  --color-clear:  rgba(236, 236, 236, 1);
  --color-medium: rgba(100, 100, 100, 1); /* #646464 */
  --color-dark:   rgba(51,  51,  51,  1); /* #333333 */
  --color-navigation: rgba(63, 137, 168, 1); /* 3F89A8 */
}

/* Layout */
header             { grid-area: header;     }
main               { grid-area: content;    }
nav                { grid-area: nav;        }
aside              { grid-area: sidebar;    }
section#ad         { grid-area: additional; }
footer             { grid-area: footer;     }
.injected          { grid-area: rtd;        }
html {
  font-size: 16px;
  display: grid;
}
body {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "header     header"
    "nav        nav"
    "content    sidebar"
    "footer     rtd"
    "additional additional";
}
nav {
  justify-content: space-between;
}
@media (min-width: 1200px) {
  html {
    justify-content: center;
  }
  body {
    width: 1170px;
    padding: 20px;
  }
}
@media (max-width: 1199px) {
  html {
    justify-content: center;
  }
  body {
    max-width: 1170px;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  html {
    justify-content: unset;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "sidebar"
      "content"
      "rtd"
      "footer"
      "additional";
  }
  aside:empty,
  aside:-moz-only-whitespace {
    display: none;
  }
  nav,
  nav ul {
    display: flex;
    flex-direction: column;
  }
  body nav ul {
    padding: .5rem 0 0 0;
  }
  body nav ul li {
    padding: .5rem 1rem;
  }
  body nav ul li a::after {
    top: 0%;
    left: -6px;
    margin-left: -10px;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: solid 10px transparent;
    transition: border-left 1s;
  }
  body nav ul li:hover a::after,
  body nav li#active a::after {
    border-top: solid 10px transparent;
    border-left: solid 10px var(--color-canvas-alternate);
  }
  body #search_box {
    max-width: fit-content;
  }
}
@media (max-width: 600px) {
  html {
    justify-content: unset;
  }
  body {
    gap: 0;
    padding: 20px 0;
    max-width: 600px;
    box-sizing: border-box;
  }
  body nav,
  body main,
  body aside {
    border-radius: unset;
  }
  footer {
    padding: 10px;
  }
  table {
    border-collapse: collapse;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table tbody tr td {
    border: none;
    border-bottom: 1px solid var(--color-clear);
    position: relative;
    padding-left: 50% !important;
  }
  table tbody tr td:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    padding: 0 .5rem;
    box-sizing: border-box;
    white-space: nowrap;
    content: attr(data-column);
    font-weight: bold;
    background-color: var(--color-canvas);
  }
  table tbody tr.row-odd td:before {
    background-color: var(--color-canvas-alternate);
  }
}

/* Appearance  */
body::before {
  content: " ";
  background: linear-gradient(180deg, var(--color-canvas-alternate) 0%, var(--color-canvas) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50rem;
  z-index: -1;
}
body {
  background: var(--color-canvas);
  margin: 0;
  text-align: left;
  font-family: lucida grande, trebuchet ms, verdana, arial;
  font-size: clamp(.8125rem, 1vw, 1.125rem);
  color: var(--color-medium);
}
header {
  margin: 0 0 0 20px;
}
header #logo::before {
  content: " ";
  position: absolute;
  background: url(openlyrics.svg);
  background-size: contain;
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
}
header #logo {
  padding-left: 3rem;
}
header #logo h1 {
  margin: .5rem 0;
}
nav {
  display: flex;
  background: linear-gradient(180deg, var(--color-bright) 0%, var(--color-light) 100%);
  border-radius: 5px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}
nav li {
  display: inline flow-root;
  padding: 1rem;
}
nav li a {
  display: block;
  color: var(--color-medium);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
nav ul li a::after {
  content: " ";
  position: absolute;
  top: -1rem;
  left: 50%;
  height: 0;
  width: 0;
  margin-left: -10px;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  transition: border-top .2s;
}
nav ul li:hover a::after,
nav li#active a::after {
  border-top: solid 10px var(--color-canvas-alternate);
}
nav li a:hover {
  text-decoration: none;
}
nav #search_box {
  margin: 1rem 2rem .5rem 1rem;
  border: solid 1px var(--color-clear);
  border-radius: 4px;
  height: 1.5rem;
}
nav #search_box #s {
  display: inline flow-root;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 7rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  transition: width .5s;
}
nav #search_box #s:focus {
  width: 14rem;
}
nav #search_box #go {
  display: inline flow-root;
  width: 1rem;
  height: 1rem;
  background: url(submit.svg);
  background-size: contain;
  text-indent: -1000rem;
  border: none;
}

/* Content */
main,
aside {
  background: var(--color-page);
  border-radius: 5px;
  padding: 20px;
  height: auto;
}
main h1 {
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  margin-top: 1rem;
}
main h2 {
  padding-bottom: .5rem;
  color: var(--color-dark);
  font-size: clamp(1rem, 1.25vw, 1.5rem);
}
main h3 {
  margin-bottom: .25rem;
}
main h3 + p {
  margin-top: .25rem;
}
pre,
code {
  font-family: consolas,"Liberation Mono",courier,monospace;
}
pre {
  background: linear-gradient(to right, var(--color-light) 0%, var(--color-page) 100%);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to left, var(--color-clear), rgba(0, 0, 0, 0)) 100% 1;
  color: #333;
  padding: 0.5em;
  overflow: auto;
  white-space: pre-wrap;
}
dl dd pre {
  margin-bottom: .5rem;
}
code {
  background: var(--color-light);
  display: inline flow-root;
  padding: 0 0.25rem;
}
a {
  color: var(--color-navigation);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main a,
aside a {
  position: relative;
}
main a:not(.headerlink)::before,
aside a::before  {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-navigation);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  main a:not(.headerlink):hover,
  aside a:hover {
    text-decoration: none;
  }
  main a:not(.headerlink):hover::before,
  aside a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

main p {
  clear: both;
}
main dd p {
  margin-top: 0;
}
main li p,
main td p {
  margin: 0;
}
table tr.row-even td {
  background: var(--color-light);
}
table tr.row-odd td {
  background: var(--color-clear);
}
table thead tr th {
  background: var(--color-canvas);
}
table thead tr th:empty {
  background: transparent;
}
table thead tr th {
  padding: .2rem .2rem;
}
table tbody tr td {
  padding: 0 .2rem;
}
table tr th p {
  margin: 0;
}
a.headerlink {
  padding: 0 .1rem 0 .25rem;
  left: -5em;
  opacity: 0;
  transition: left 0.25s ease-out, opacity 0.25s;
}
a.headerlink:hover {
  text-decoration: none;
}
ul, dl ul {
  margin-bottom: 1em;
}
.toctree-wrapper ul {
  margin-bottom: initial;
}
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  left: 0;
  opacity: 1;
}
aside > ul {
  padding: 0 0 0 20px;
}
aside > ul ul {
  padding: 0 0 0 1rem;
}
aside p.topless,
aside ul.this-page-menu {
  margin-top: 0;
}
aside h3,
aside h4 {
  margin-bottom: 0;
}

/*  Inserted RTD Footer */
.injected .rst-versions .rst-other-versions {
  display: none;
  transform: scale(0);
  transform-origin: left top;
  animation: anim .3s ease-in-out;
}
.injected .rst-versions.shift-up .rst-other-versions {
  display: block;
  transform: scale(1);
}
.injected .rst-versions .rst-current-version::before {
  display: inline;
  content: "Read the Docs";
}
.injected .rst-versions .rst-current-version {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-navigation);
}
.injected dd {
  margin-left: 1rem;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
